:root {
--primary-brand-color: #4D5AE5;
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #E7E9FC;
--primary-bg-color: #FFFFFF;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.main-button, .button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.logo {
color: var(--primary-brand-color);
font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.accent {
color: var(--title-text-color);
font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav .link {
  font-weight: 500;
  color: var(--title-text-color);
}
.nav .link:hover, 
.nav .link:focus {
  color: var(--primary-text-color);
}
.nav .link:active {
  color: var(--primary-brand-color);
}
.contact .link {
  color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--primary-brand-color);
}

/* Main section*/
.main-section {
  background-color: var(--title-text-color);
}
.main-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--primary-bg-color);
}
.main-button {
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
}
.main-button:hover,
.main-button:focus {
background-color: var(--primary-brand-color);
color: var(--primary-bg-color);
}
main-button:active {
  background-color: #404BBF;
    color: var(--primary-bg-color);
}

/*other section*/
.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

/*Footer*/
.footer {
  background-color: var(--title-text-color);
}
.footer-text {
  color: var(--accent-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.footer-accent {
  color: #F4F4FD;
  font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Portfolio Page */
.button {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: #F4F4FD;
  border: 1px solid var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
}
.p_link {
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: inherit;
  letter-spacing: inherit;
}

/* Цвет основного текста Roboto 400 #434455*/
/* Цвет заголовка Roboto 600 #2E2F42*/
/* Footer text color Roboto 400 #E7E9FC*/
/* Web color Raleway 800: #4D5AE5; Studio color: #F4F4FD */
/* Hero Roboto 600 color: #FFFFFF */